@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&display=swap');

:root {
    --color-terminal: #292b36;
    --borde-redondo: 4px;
}

* {
    font-family: 'Hind Madurai', sans-serif;
}

body {
    background-color: #065893;
    color: white;
}

main {
    width: 90%;
    margin: auto;
    background-color: var(--color-terminal);
    box-shadow: 8px 8px 35px 0px rgb(0 0 0 / 75%);
    border-radius: var(--borde-redondo);
}



.presentacion {
    margin: 50px;

    display: grid;
    grid-template-columns: 3fr 1fr;
}

#presentacion-texto {
    margin-bottom: 30px;
}

#presentacion-imagen {
    min-height: 300px;
    padding: 20px;
    margin: 10px;
    border-radius: var(--borde-redondo);
    position: relative;
    background-size: cover;
    background-position: center center;
}

.contenedor {
    width: 90%;
    margin: auto;

    display: grid;
    grid-template-columns: 2fr 1fr;
}

.contenedor-imagen {}

#descripcion-tecnologia {
    background-color: var(--color-terminal);
    padding: 20px;
    margin-right: 10px;
    width: -webkit-fill-available;
    border-radius: var(--borde-redondo);
}

#imagen-tecnologia {
    min-height: 200px;
    padding: 20px;
    margin-left: 10px;
    border-radius: var(--borde-redondo);
    position: relative;
    background-size: cover;
    background-position: center center;
}